table#tshirtfoMAINBG,
td.tshirtfoMAINBG {
/*    background: #082844 url(img/bg-blue.gif) repeat center top;
*/}
.tshirtfoCONTENT {
    width: 940px;
    margin: 0px auto;
}
#LeftPanel,
#CentralArea {
    padding: 0px 0px 20px 0px;
}
#CentralArea td.r3_t,
#CentralArea td.r3_bl {
    display: none;
}
#CentralArea td.r3_c {
    background-color: #ffffff;
    background-image: none;
    border-left: 0px;
    border-right: 0px;
}
#TopPromoArea .v4midBox,
#TopPromoArea .v4wfc,
#LeftPanel .v4midBox,
#LeftPanel .v4wfc {
    background-color: #ffffff;
}
#CentralArea .v4stabl {
    color: #ffffff;
}
#CentralArea .v4stabl a {
    color: #bc0404;
}
table#tshirtfoMENU img {
    border: 0px;
}
#tshirtfoSEARCH1 {
    background-image: url(http://creativitee.net/~yourfavo/ebay/img/search_06.png);
    background-repeat: no-repeat;
    width: 242px;
    height: 23px;
}
#tshirtfoSEARCH2 {
    width: 240px;
    height: 21px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: #000;
    border: 0px;
    background: none;
}
td#tshirtfoLEFTCOL {
    width: 208px;
    vertical-align: top;
}
td#tshirtfoGUTTER {
    width: 13px;
    vertical-align: top;
}
td#tshirtfoRIGHTCOL {
    width: 719px;
    vertical-align: top;
}
td#tshirtfoCATBG {
    border: #CCCCCC thin solid;
}
div#tshirtfoCATPADDING {
    margin-top: 5px;
}
li {
    list-style: url(img/arrows_30.png);
    list-style-image: url(img/arrows_30.png);
    text-decoration: none;
}
#tshirtfoCATBG a {
    text-decoration: none;
    list-style: url(img/arrows_30.png);
    list-style-image: url(img/arrows_30.png);
    color: #000000;
}
#tshirtfoCATBG a:hover {
    color: #990000;
}
.tshirtfoLEVEL1 {} .tshirtfoLEVEL2 {
    list-style: url(img/arrows_30.png);
    list-style-image: url(img/arrows_30.png);
}
.tshirtfoLEVEL2 li {
    margin-left: 15px;
}
.tshirtfoLEVEL1 {
    border-top-width: thin;
    border-top-style: solid;
    border-top-color: #CCCCCC;
}
#main .tshirtfoSHOPBY {} #main .tshirtfoSHOPBY a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
    color: #990000;
    text-decoration: none;
    line-height: 25px;
}
td#tshirtfoNEWS1 {
    background-image: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/newsletter_02.png);
    background-repeat: no-repeat;
    width: 208px;
    height: 137px;
    vertical-align: top;
}
div#tshirtfoNEWS2 {
    padding: 14px;
    color: #282828;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
}
td.tshirtfoRIGHTBG {
    border: 1px solid #ccc;
}
td.tshirtfoRIGHTBG h1 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px 0px 18px 0px;
}
div#tshirtfoMAINPHOTO {
    text-align: center;
    margin-bottom: 18px;
}
p.tshirtfoP1 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #7c7c7c;
    margin: 0px 0px 5px 0px;
    text-align: center;
}
p.tshirtfoP2 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7c7c7c;
    margin: 0px 0px 3px 0px;
    text-align: center;
}
p.tshirtfoP3 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #7c7c7c;
    margin: 0px 0px 9px 0px;
    text-align: center;
}
p.tshirtfoP4 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #7c7c7c;
    margin: 0px 0px 9px 0px;
    text-align: center;
}
p.tshirtfoP5 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #7c7c7c;
    margin: 0px 0px 9px 0px;
    text-align: center;
}
p.tshirtfoP6 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #e00000;
    margin: 0px 0px 9px 0px;
    text-align: center;
}
p.tshirtfoP6 a:link,
p.tshirtfoP6 a:visited {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #e00000;
    text-decoration: none;
}
p.tshirtfoP6 a:hover {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #7c7c7c;
    text-decoration: none;
}
p.tshirtfoP6 a:active {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #e00000;
    text-decoration: none;
}
p.tshirtfoP7 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #7c7c7c;
    margin: 0px 0px 9px 0px;
    text-align: center;
}
p.tshirtfoP8 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #7c7c7c;
    margin: 0px 0px 6px 0px;
    text-align: left;
}
tr.tshirtfoROWCOLOR1 {
    background-color: #dcd9dc;
}
td.tshirtfoROW1 {
    padding: 6px;
    border: 1px solid #333333;
    text-align: center;
    color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
td.tshirtfoROW2a {
    padding: 6px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    text-align: center;
    color: #e00000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
td.tshirtfoROW2b {
    padding: 6px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    text-align: center;
    color: #e00000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
td.tshirtfoROW3a {
    padding: 6px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    text-align: center;
    color: #161616;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
td.tshirtfoROW3b {
    padding: 6px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    text-align: center;
    color: #161616;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
td.tshirtfoROW4a {
    padding: 6px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    text-align: center;
    color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
td.tshirtfoROW5a {
    padding: 6px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    text-align: center;
    color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#tshirtfoTAB1,
#tshirtfoTAB2,
#tshirtfoTAB3,
#tshirtfoTAB4,
#tshirtfoTAB5 {
    width: 719px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
#tshirtfoTAB2,
#tshirtfoTAB3,
#tshirtfoTAB4,
#tshirtfoTAB5 {
    display: none;
}
ul.tshirtfoTABS {
    width: 719px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style: none;
    height: 39px;
    display: block !important;
    cursor: pointer;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
}
ul.tshirtfoTABS li {
    display: inline;
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
ul.tshirtfoTABS a:link,
ul.tshirtfoTABS a:visited {
    display: block;
    width: 142px;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/tabs.jpg);
}
ul.tshirtfoTABS a:hover {
    display: block;
    width: 142px;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #e00000;
    background: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/tabs_h.jpg);
}
ul.tshirtfoTABS a:active {
    display: block;
    width: 142px;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/tabs.jpg);
}
span.tshirtfoTABS {
    display: block;
    width: 142px;
    height: 39px;
    line-height: 39px;
    text-decoration: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #e00000;
    background: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/tabs_h.jpg);
}
td.tshirtfoTABSBG {
    background-image: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/right-bg.jpg);
    border: 1px solid #2b2b2b;
    padding: 14px 14px 6px 14px;
}
td.tshirtfoTABSBG p {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #7c7c7c;
    margin: 0px 0px 8px 0px;
    text-align: left;
}
td#tshirtfoFOOTER {
    height: 39px;
    vertical-align: top;
    background-color: #1abc9c;
    color: white;
    border-radius: 5px;
}
#tshirtfoFOOTER p {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    line-height: 39px;
    margin: 0px;
}
#tshirtfoFOOTER p a:link,
#tshirtfoFOOTER p a:visited {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
}
#tshirtfoFOOTER p a:hover {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline;
}
#tshirtfoFOOTER p a:active {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
}
td.tshirtfoSHOPBY {
    width: 174px;
    height: 189px;
    vertical-align: top;
    text-align: center;
    background-image: url(http://www.sunandfuninoc.com/testingsites/fav_t-shirts/images/shopby-bg.png);
    background-repeat: no-repeat;
    padding-right: 5px;
}
td.tshirtfoSHOPBY p {
    margin: 15px 0px 0px 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    line-height: 28px;
}
td.tshirtfoSHOPBY img {
    border: 0px;
    margin-top: 11px;
}
td.tshirtfoSHOPBY p a:link,
td.tshirtfoSHOPBY p a:visited {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
td.tshirtfoSHOPBY p a:hover {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #b5b5b5;
    text-decoration: none;
}
td.tshirtfoSHOPBY p a:active {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
#hpbrands td {
    border: thin solid #CCCCCC;
    padding-bottom: 15px;
